
<!-- <div  *showAuthed="false" class="page-header" style="background-image: url(https://upload.wikimedia.org/wikipedia/commons/5/51/ShiFengWaterFall_002.jpg)">
  <div class="container-fluid">
   <div class="row">
        <img src="logo.png" class="img-responsive" style="border: 1px solid black; margin-top:10px; height:70px">
   </div>
</div>
</div>
-->


<layout-header></layout-header>

<!-- <div class="container"> -->
        <!--<div class="col-sm-8 col-sm-offset-2"> -->
                <div class="jumbotron">
                        <div class="container">
                                <div class="col-sm-8 col-sm-offset-2">
                                <alert></alert>
                                <router-outlet></router-outlet>
                                </div>
                        </div>
                </div>




<layout-footer></layout-footer>
